#FooterBarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(167, 80%, 67%);
}

#LinksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 99vw; */
  column-gap: 11%;
}

#SocialMediaLogoDiv{
  height: 30vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
}