.header{
    background-color: transparent;
    z-index: 100;
    position: fixed;
    width: 100%;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar h1{
padding-left: 1%;
}
.UnOrderLists{
    list-style: none;
}
.UnOrderLists li{
    display: inline-block;
    padding: 0 20px;
}

.UnOrderLists li a{
transition: all 0.3s ease 0s;
text-decoration: none;
}

.UnOrderLists li a :hover{
color: aqua;
}