@font-face {
  font-family: "Fraunces";   /*Can be any text*/
  src: local("Fraunces-VariableFont_SOFT"),
    url("./Fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Black";   /*Can be any text*/
  src: local("Barlow-Black"),
    url("./Fonts/Barlow-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Light";   /*Can be any text*/
  src: local("Barlow-Light"),
    url("./Fonts/Barlow-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow-Medium";   /*Can be any text*/
  src: local("Barlow-Medium"),
    url("./Fonts/Barlow-Medium.ttf") format("truetype");
}


body {
  margin: 0;

}
